/*Common styles*/
body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}



/* header started*/
    

    
.header2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    font-family: Merriweather;
  
  
    
    
}


.header-div{

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    width: 1320px;
    height: 600px;
    border-radius: 13px;
    margin: auto;
}
.header1{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 153px;
    font-family: Merriweather;
   
}


.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}
.discount-desc1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 0;

}
.discount-desc2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 28px;
}
.discount-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.party-banner{
    background-image: url('../Images/Vectorrr.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    
    margin:auto;
    max-width: 70%;
    height: 600px;
    border-radius: 13px;
    display: flex;
   margin-top: 120px;
 

}
.party-head{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 7.04px;
    text-align-last: left;
    padding-left: 139px;
    padding-top: 79px;
    

}
.part-desc{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align-last: left;
    padding-left: 139px;

}
.join-party{
    text-align-last: left;
    padding-left: 139px;
    
}
.party-btn{
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    padding-top: 30px;
}
.grp70{
    padding-top: 42px;
    size: 50px;
    padding-right: 152px;
  

 
}
.party-div{
    margin: auto;
    width: 65%;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 12px;
    
    
}


.address-head{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}
.address-half{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.address{
    text-align: center;
    background-color: #FFE9E9;
    width: 1320px;
    height: 482px;
    margin: auto;
    border-radius: 12px;
    margin-top:110px ;
    
}
.address-div{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 490px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    background-color: #F00;
    border: none;
    border-radius: 10px;
    margin-top: 33px;
}
.offer-banner{
    width: 1320px;
    height: 482px;
    margin: auto;
    background-image: url(../Images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;

}
.off-banner-item{
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 482px;
    margin: auto;

}
.offer-head1{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.offer-head2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;

}
.offer-desc{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}
.year-head{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
.year-img{
    width: 140px;
    height: 140px;
    margin-top: 35px;
}
.year-div{
    margin-top: 8px;
}
.holidays-head1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}
.holidays-head2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;

}
.half{
    color: #F00;
     font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
   
}
.holidays-banner{
    margin-top: 50px;
  
}
.holidays-desc{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.gifts-banner{
    background-image: url('../Images/Rectangle\ 1.png');
   background-repeat: no-repeat;
    background-position: bottom right;
    width: 1320px;
    margin: auto;
    height: 482px;
}

.gifts-item{
    justify-content: right;
    width: 1320px;
    margin: auto;
    display: flex;
    position: relative;
}
.grp-44{
    width: 206.841px;
    height: 206.841px;
    position: absolute;
    right: 315px;
    top: 160px;
}
.rect-2{
    width: 1320px;
    margin: auto;
}
.grp75{
    position: relative;
}
.surprise{
    position: absolute;
    margin-top: 40px;
}
.best-gifts{
    margin-top: 145px;
}
.best-gifts-item{
    width: 1320px;
    margin: auto;
    margin-top: 100px;

}
.best-gifts-head1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.best-gifts-head2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.row1{
    width: 1320px;
    margin: auto;
    display: flex;

}
.column1{
    flex: 33.33%;
    padding: 5px;
}
.subscribe{
    width: 1320px;
    height: 616px;
    margin: auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 80px;

}
.subscribe-head{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.subscribe-desc{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}
.subscribe-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.input-footer{
    position: relative;
    text-align: center;
    margin-top: 40px;
} 
.subscribe-btn{
    position: absolute;
    right: 330px;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.input-email{
    width: 648px;
    height: 67px;
    border-radius: 50px;
    background: #FFF;
    text-align: left;
    border: none;
}


