/*Common styles*/
body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}



/* header started*/
    

    
.header2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    font-family: Merriweather;
  
  
    
    
}


.header-div{

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    width: 1320px;
    height: 600px;
    border-radius: 13px;
    margin: auto;
}
.header1{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 153px;
    font-family: Merriweather;
   
}

.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}
.discount-desc1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 0;

}
.discount-desc2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 28px;
}
.discount-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.party-banner{
    background-image: url('../Images/Vectorrr.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    
    margin:auto;
    max-width: 70%;
    height: 600px;
    border-radius: 13px;
    display: flex;
   margin-top: 120px;
 

}
.party-head{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 7.04px;
    text-align-last: left;
    padding-left: 139px;
    padding-top: 79px;
    

}
.part-desc{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align-last: left;
    padding-left: 139px;

}
.join-party{
    text-align-last: left;
    padding-left: 139px;
    
}
.party-btn{
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    padding-top: 30px;
}
.grp70{
    padding-top: 42px;
    size: 50px;
    padding-right: 152px;
  

 
}
.party-div{
    margin: auto;
    width: 65%;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 12px;
    
    
}


.address-head{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}
.address-half{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.address{
    text-align: center;
    background-color: #FFE9E9;
    width: 1320px;
    height: 482px;
    margin: auto;
    border-radius: 12px;
    margin-top:110px ;
    
}
.address-div{
    padding-top: 80px;
    background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.address-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    background-color: #F00;
    border: solid;
    border-radius: 10px;
    margin-top: 33px;
}


